<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto"
    package="com.imptt.v2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-feature android:name="android.hardware.microphone" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/> <!--for bluetooth-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="UnusedAttribute">
        <activity
            android:name=".view.HostActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.imptt.v2.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="name,authorities,exported,grantUriPermissions">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public"/>
        </provider>
        <service
            android:name=".core.ImService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location|mediaPlayback|mediaProjection|phoneCall"
            android:permission="@string/app_name"
            android:process=":ptt" />

        <!-- AlarmAlert是被单呼时，本地弹窗 -->
        <activity
            android:name="com.kylindev.pttlib.view.AlarmAlert"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true"
            android:taskAffinity="com.imptt.v2"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|keyboard|navigation"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />

        <!-- 用于开机自启动 -->
        <receiver android:name=".core.ptt.BootCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.kylindev.pttlib.utils.AutoRestartServiceReceiver">
            <intent-filter>
                <action android:name="com.kylindev.pttlib.auto_restart_service" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.kylindev.pttlib.utils.MediaButtonIntentReceiver"
            android:enabled="true"
            android:priority="10000">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        <!-- ptt功能主服务 -->
        <service
            android:name="com.kylindev.pttlib.service.InterpttService"
            android:exported="true">
        </service>
        <service android:name=".core.MediaService"
            android:enabled="true"
            android:exported="true"
            android:process=":media"
            android:foregroundServiceType="location|mediaPlayback|mediaProjection|phoneCall"
            android:permission="@string/app_name"
            >
        </service>
        <receiver android:name=".core.ptt.BootCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
<!--        <receiver-->
<!--            android:enabled="true"-->
<!--            android:priority="2147483647"-->
<!--            android:name=".receiver.MediaButtonReceiver">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MEDIA_BUTTON"/>-->
<!--            </intent-filter>-->
<!--        </receiver>-->
    </application>

</manifest>